* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p, input, span, label, button, li {
    font-size: 20px;
}

#mainInput {
    min-width: 50vw;
}

#errorOutput {
    color: red;
}